	<section>
		<div class="container">
			<div class="card">
				<div class="content">
					<div class="imgBx">
						<img src="../../assets/Mountain.jpg">
					</div>
					<div class="contentBx">
						<h3>Exercice<br><span>Inscription</span></h3>
					</div>
				</div>
				<ul class="sci">
					<li>
                        <a href="/inscription">Consult</a>
                    </li>

				</ul>
			</div>
			<div class="card">
				<div class="content">
					<div class="imgBx">
						<img src="../../assets/Mountain2.jpg">
					</div>
					<div class="contentBx">
						<h3>Exercice<br><span>Contact</span></h3>
					</div>
				</div>
				<ul class="sci">
					<li>
						<a href="/contact">Consult</a>
					</li>
					
				</ul>
			</div>
			<div class="card">
				<div class="content">
					<div class="imgBx">
						<img src="../../assets/Mountain3.jpg">
					</div>
					<div class="contentBx">
						<h3>Exercice<br><span>Tasks</span></h3>
					</div>
				</div>
				<ul class="sci">
					<li><a href="/tasks">Consult</a></li>

				</ul>
			</div>
		</div>
	</section>
