body {
  font-family: monospace;
}
.navbar{
  background-color:#cad2c5;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
}
.footer {
  font-family: monospace;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:transparent !important;
  color: gray;
  text-align: center;
}
