.is-invalid {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}
main {
  padding: 50px;
}
.container {
  display: flex;
  justify-content: space-between;
  gap: 150px;
}

form {
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #000000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
}

.contact-section {
  display: block;
  width: 60%;
}
.contact-element {
  margin-top: 50px;
}
