main {
  padding: 20px;
  margin-bottom: 100px;
  margin-top: 50px;
}
.canvas-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.canvas-section {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  transition: background-color 0.3s;
  position: relative;
}

.canvas-section:hover {
  background-color: #d8d8d8;
}

.canvas-section h2 {
  margin-bottom: 20px;
}

.canvas-section p {
  margin-bottom: 20px;
}

.canvas-section:hover .section-btns {
  display: block;
}

.section-btns {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.section-btns button {
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 5px;
}

@media screen and (max-width: 1000px) {
  .canvas-container {
    grid-template-columns: 1fr;
    margin-left: 200px;
    
  }
}
